---
import Layout from "../layouts/layout.astro";
import SubscribeForm from "../components/SubscribeForm";
---

<Layout title="About">
    <div class="grid gap-4">
        <!--Mail Form -->
    </div>
    <p>ceci est la page</p>
</Layout>
