---
import Layout from "../layouts/layout.astro";
import SubscribeForm from "../components/SubscribeForm";
---

<Layout title="Bio">
    <div class="grid gap-4">
        <!--Mail Form -->
    </div>
</Layout>
