---
import Layout from "../layouts/layout.astro";
import SubscribeForm from "../components/SubscribeForm";
---

<Layout title="Home page">
	<div class="grid gap-4">
		<h1 class="text-2xl font-bold">Abonnement à la mailing list</h1>
		<!--Mail Form -->
		<SubscribeForm transition:animate="none"/>
	</div>
</Layout>
